pkgbase = bulwarkctl
	pkgdesc = Linux host security and misconfiguration scanner (CLI)
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/vietanhdev/bulwark
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	optdepends = clamav: antivirus scanning support
	options = !lto
	source = bulwarkctl-0.9.0.tar.gz::https://github.com/vietanhdev/bulwark/archive/refs/tags/v0.9.0.tar.gz
	sha256sums = 3e5c6308c6f0f55d930656f8eb1d1c31b6473944885df2f7a58be60937d35713

pkgname = bulwarkctl
